//Create the colour constants
$gray: #848484;
$mine-shaft: #2a2a2a;
$athens-gray: #ededf0;
$silver: #cbcbcb;
$santas-gray: #a3a3a4;
$gray: #8c8c8c;
$ghost: #ccced4;
$french-gray: #bcbcbd;
$jumbo: #84848c;
$bombay: #b4b4bc;

